@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.nav input:checked ~ ul {
  right: 0;
}

.nav input:checked ~ .hamburger div:nth-child(1) {
  background-color: transparent;
  background-image: url("../img/menu-close.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  border-radius: 0;
  position: fixed;
  right: 5vw;
}

.nav input:checked ~ .hamburger div:nth-child(2) {
  display: none;
}

.nav input:checked ~ .hamburger div:nth-child(3) {
  background: #fff;
  transform: rotate(-35deg);
  display: none;
}

.menu-links {
  @apply text-4xl lg:text-lg lg:font-bold text-white lg:text-cyan-600 mb-5 lg:mb-0 lg:inline-block lg:mr-5 hover:text-slate-600 transition-colors ease-in-out;
}

@media (min-width: 1024px) {
  .menu-links {
    text-shadow: 1px 1px 3px #f8f9fd;
  }
}

.btn-primary {
  @apply bg-cyan-600 rounded shadow text-xl uppercase font-bold text-white py-2 px-8 hover:bg-cyan-700 flex items-center mx-auto transition-all ease-in-out w-full lg:w-auto justify-center lg:justify-self-auto;
}

.footer-info {
  @apply flex items-center text-slate-600 mb-5;
}

.footer-icon {
  @apply h-10 w-10 mr-5 p-2 inline-block bg-cyan-600 text-white rounded-full;
}

.footer-info a {
  @apply text-slate-600;
}
